[hyoo_realworld_article_page_comment_add] {
	margin: .75rem;
}

[hyoo_realworld_article_page_comments] {
	padding: .75rem;
	display: flex;
	flex-direction: column;
	flex: none;
}

[hyoo_realworld_article_page_comments] > * {
	margin: .75rem;
}

[hyoo_realworld_article_page_tag_link] {
	margin: 0;
}
