[conduit] {
	--mol_theme_control: hsla( 120 , 60% , 60% , 1 );
	--mol_theme_current: hsl( 120 , 100% , 20% );
}

[conduit] [mol_theme="$mol_theme_base"] {
	--mol_theme_back: hsla( 120 , 50% , 50% , 1 );
	--mol_theme_current: hsl( 120 , 100% , 20% );
}

[conduit] [mol_theme="$mol_theme_accent"] {
	--mol_theme_back: hsla( 300 , 50% , 50% , 1 );
	--mol_theme_hover: hsla( 300 , 50% , 40% , 1 );
}

[conduit_menu] {
	flex: 1 1 200px;
	width: 200px;
}

[conduit_sign_in] ,
[conduit_feed] {
	flex: 1 1 400px;
	width: 400px;
}

[conduit_article] ,
[conduit_article_edit] {
	flex: 1 1 800px;
	width: 800px;
}
