[hyoo_realworld] {
	--mol_theme_control: #367c36;
}

[hyoo_realworld] [mol_theme="$mol_theme_base"] {
	--mol_theme_back: #5cb85c;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

[hyoo_realworld_tags] {
	flex: 0 0 10rem;
}

[hyoo_realworld_sign_in] {
	flex: 0 0 20rem;
}

[hyoo_realworld_sign_up] {
	flex: 0 0 20rem;
}

[hyoo_realworld_person_page] {
	flex: 0 0 20rem;
}


[hyoo_realworld_home_page] {
	flex: 0 0 20rem;
}

[hyoo_realworld_feed] {
	flex: 0 0 30rem;
}

[hyoo_realworld_article] ,
[hyoo_realworld_article_edit] {
	flex: 0 0 50rem;
}
